




<div id="draggable" style="position: absolute;top:15px;left: 160px;padding: 5px;">
    <ul id="menu">
        <li>
            <div class="miclo">Selection</div>
            <ul>
                <li><div class="miclo" id="divnode">Node</div></li>
                <li><div class="miclo" id="divelement">Element</div></li>
                <li><div class="miclo" id="divface">Face</div></li>
                <li><div class="miclo" id="divobj">Object</div></li>

            </ul>
        </li>
        <li>
            <div class="miclo">Relation</div>
            <ul>
                <li><div class="miclo">Lock</div></li>
                <li><div class="miclo">Path</div></li>
                <li><div class="miclo">Concentric</div></li>
                <li><div class="miclo">Rolling</div></li>
            </ul>
        </li>
        <li>
            <div class="miclo">Location</div>
            <ul>
                <li><div class="miclo">Centre</div></li>
                <li><div class="miclo">2 point axis</div></li>
                <li><div class="miclo">Join</div></li>
                <li><div class="miclo">Offset</div></li>
            </ul>
        </li>
        <li>
            <div class="miclo">Joint</div>
            <ul>
                <li><div class="miclo">knee</div></li>
                <li><div class="miclo">Ball</div></li>
                <li><div class="miclo">Crank</div></li>
                <li><div class="miclo">Pedal</div></li>
                <li><div class="miclo">Gear</div></li>
            </ul>
        </li>
    </ul>
</div>









